<!DOCTYPE html>
html(lang='en')

    include ./assets/partials/head
        title Portfolio
    body
        include ./assets/partials/header

        include ./assets/partials/about

        include ./assets/partials/services

        include ./assets/partials/contact

        include ./assets/partials/footer

        include ./assets/partials/scripts
