- 
    const skillsTabs = [
        {
            skill     : 'Html / Css ( Sass )',
            percentage: 96
        },
        {
            skill     : 'Javascript',
            percentage: 90
        },
        {
            skill     : 'React / Vue',
            percentage: 86
        },
        {
            skill     : 'Wordpress',
            percentage: 84
        },
        {
            skill     : 'PHP',
            percentage: 75
        },
        {
            skill     : 'Laravel',
            percentage: 71
        }
    ]

include ./mixin


section#about.w-full
    +subtitle( 'About Me' )
    .my-container
        .flex.flex-wrap.mt-32( class = 'md:flex-no-wrap md:justify-around' )
            .w-full.px-8.mb-16( class = 'md:w-1/3 md:m-0 ' )
                p.font-thin.leading-relaxed.text-gray-800.

                    Welcome to my Portfolio ! I'm a Junior #[strong web developer] from #[strong Brussels,] Belgium.
                    I finished a 6 months intensive full-stack web development training where I've learned
                    different languages and frameworks : Html / Css, Javascript / DOM, React, Bash, Php,
                    Wordpress and Laravel. I'm actually #[strong working at Molengeek Pro] since 2 years.

            .w-full.px-8.mb-16( class = 'md:w-1/3 md:m-0' )
                p.font-thin.leading-relaxed.text-gray-800.

                    I'm interested in the entire #[strong front-end] spectrum of web development. I'm a well organized
                    person, #[strong independent] with high attention to detail. I'm naturally curious,
                    and perpetually working on improving my skills. My #[strong Github] to see all my projects:

                    <strong>
                        <a
                            href   = 'https://github.com/tom-deman'
                            target = '_blank'
                        >
                            https://github.com/tom-deman
                        </a>
                    </strong>

            .w-full.px-5( class = 'md:w-1/3' )
                each skillsTab, index in skillsTabs
                    .mb-5.bg-gray-200.rounded.m-auto.shadow(
                        class = 'w-5/6 md:mb-5'
                        key   = index
                    )
                        .bg-gray-800.text-xs.text-center.text-white.rounded(
                            style = `width: ${ skillsTab.percentage }%`
                        )= skillsTab.skill

    include ./numbers
