- 
    const personalInfos = [
        {
            type: 'Phone:',
            text: 'Ask me by mail'
        },
        {
            type: 'Email:',
            text: 'dt.deman.thomas@gmail.com'
        },
        {
            type: 'Address:',
            text: 'Place de la Minoterie 10, 1080 Molenbeek-Saint-Jean ( Molengeek )'
        }
    ]

    const inputClass = 'w-full border border-gray-400 p-4 bg-transparent'


include ./mixin

section#contact.w-full
    +subtitle( 'Contact' )
    .my-container
        .w-full.mt-24( class = 'md:flex' )
            .w-full.pt-0.px-10( class = 'md:w-1/3 md:pt-8' )
                each personalInfo, index in personalInfos
                    .my-8( key = index )
                        p.text-lg= personalInfo.type
                        p.text-gray-600.font-light= personalInfo.text
            .w-full( class = 'md:w-2/3' )
                form
                    .flex.flex-wrap.m-4( class = 'md:flex-no-wrap' )
                        .w-full.mr-0.mb-4.mt-8( class = 'md:w-1/2 md:mr-8 md:mb-0 md:mt-0' )
                            input(
                                class       = inputClass
                                placeholder = 'Name'
                                type        = 'text'
                                required
                            )
                        .w-full( class='md:w-1/2' )
                            input(
                                class       = inputClass
                                placeholder = 'Email'
                                type        = 'email'
                                required
                            )
                    .flex.m-4
                        .w-full
                            input(
                                class       = inputClass
                                placeholder = 'Subject'
                                type        = 'text'
                                required
                            )
                    .flex.m-4
                        .w-full
                            textarea(
                                class       = inputClass
                                placeholder = 'Message'
                                rows        = '8'
                                required
                            )
                    div.flex.justify-end.m-4
                        button.border.border-black.py-4.px-6.text-black(
                            class = 'hover:text-white contact-button'
                            type  = 'submit'
                        ) Send message

    include ./map
