- 
    const socialLinks = [
        {
            icon: 'fab fa-linkedin-in',
            url : 'https://www.linkedin.com/in/thomas-deman-168562193/'
        },
        {
            icon: 'fas fa-envelope',
            url : 'mailto:dt.deman.thomas@gmail.com'
        }
    ]

    const date = new Date().getFullYear()


section.bg-black.relative#footer
    .my-container
        .flex.w-full.justify-around.pt-32( class='md:justify-between' )
            p.text-gray-400.text-xs( class = 'md:text-base' ) &copy; #{ date } - Thomas Deman - All Rights Reserved
            ul.flex
                each socialLink, index in socialLinks
                    li( key = index )
                        a(
                            href   = socialLink.url
                            target = '_blank'
                        )
                            i.text-gray-400.text-lg.mx-4( class = `hover:text-white ${ socialLink.icon }` )
    a.absolute.hidden(
        href  = '#home'
        class = 'md:block to-header'
    )
        i.fas.fa-arrow-up.text-gray-400.text-sm( class='md:text-2xl hover:text-white' )
