- 
    const hoursTabs = [ 'Hours of Code', 'Hours of Meetings', 'Projects Done', 'Hours of Research' ]

.my-container
    div( class='flex justify-around mt-24 mb-32' )
        each hoursTab, index in hoursTabs
            div(
                class='text-center'
                key = index
            )
                p(
                    class='md:text-3xl text-xl font-thin'
                    class='number' )
                p( class='font-hairline md:text-base text-sm' )= hoursTab
