- 
    const hoursTabs = [
        'Hours of Code',
        'Hours of Meetings',
        'Projects Done',
        'Hours of Research'
    ]

.my-container
    .flex.justify-around.mt-24.mb-32
        each hoursTab, index in hoursTabs
            .text-center( key = index )
                p.h-5.fill-height
                p.text-xl.font-thin.number( class = 'md:text-3xl' )
                p.font-hairline.text-sm( class = 'md:text-base' )= hoursTab
