- 
    const imgTabs = [
        {
            name: 'Musician',
            href: 'https://tom-deman.github.io/musician/'
        },
        {
            name: 'Agency',
            href: 'https://tom-deman.github.io/agency/'
        },
        {
            name: 'E-shop',
            href: 'https://tom-deman.github.io/e-shop/'
        }
    ]


include ./mixin

section#portfolio.w-full.pb-24( class = 'md:pb-32' )
    +subtitle( 'Portfolio' )
    .mt-24( x-data = '{ count: 0 }' )

        .m-auto.flex.flex-wrap( class='w-5/6' )
            each imgTab, index in imgTabs
                .w-full.relative( class='md:w-1/3' )
                    a(
                        href   = imgTab.href
                        target = '_blank'
                    )
                        include ./images
                        p.absolute.text-gray-100.text-lg.text-medium.opacity-0.pointer-events-none= imgTab.name
