#header
    background-image: url( '../img/header.jpg' )
    #navbar
        div
            .title
                font-family: 'Raleway', sans-serif
    .me-img
        background-image: url( '../img/me.jpg' )
        margin-top: 15vh
    a
        i
            left: 50%
            bottom: 5%
            transform: translateX(-50%)
